@model TrainingHelper.Models.Shift

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create a new Shift </h4>
<hr />
<br />

<form method="post" asp-action="Create" asp-controller="Shift">
    <br />
    @Html.HiddenFor(model => model.ShiftId)
    @Html.LabelFor(model => model.Name, "Shift Name:")
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    <input type="submit" value="Save" />
</form>
<br />