@model IEnumerable<TrainingHelper.Models.Shift>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Here is a list of all Shifts for the Fab.</h4>
<hr />

<div class="row">
    <ul>
        @foreach (var x in Model)
        {
            <div class="row">
                <button type="button" class="btn btn-success custom">@Html.DisplayFor(modelItem => x.Name)</button>
            </div>
        }
    </ul>
</div>