@model IEnumerable<TrainingHelper.Models.Oper>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Here is a list of all Operators in the Fab.</h4>
<hr />

@foreach (var oper in Model)
{
    <div class="panel panel-danger col-md-4 fill">
        <div class="panel-heading mine">@Html.ActionLink(oper.Name, "Details", "Operator", new { id = oper.OperatorId })</div>
        <div class="panel-body panel-body">"Hi"</div>
    </div>
}




@*
      <div class="row">
        @Html.ActionLink(oper.Name, "Details", "Operator", new { id = oper.OperatorId }, new { @class = "btn btn-success custom" })
    </div>
*@