@model IEnumerable<TrainingHelper.Models.Oper>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Here is a list of all Operators in the Fab.</h4>
<hr />

@foreach (var x in Model)
{
    <div class="row">
        @Html.ActionLink(x.Name, "Details", "Operator", new { id = x.OperatorId }, new { @class = "btn btn-success custom" })
    </div>
}
