@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welcome to the Training Helper App!</h2>


<row>
    <div>
        <img src="~/img/semiconductor-factory.jpg", style="width:100%;" />
    </div>
</row>
<h2>Brought to you by FunGuy Entertainment.</h2>