@model TrainingHelper.ViewModels.BayDetailVM
@using TrainingHelper.ViewModels

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Here are the Tools located in @Model.Bay.Name.</h3>

@foreach (var x in Model.Tool)
{
    <div class="row">
        @Html.ActionLink(x.Name, "Details", "Tool", new { id = x.ToolId }, new { @class = "btn btn-success custom" })
    </div>
}
