@model TrainingHelper.ViewModels.BayDetailVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Here are the Tools located in @Model.Bay.Name.</h3>
    
@foreach (var tool in Model.Bay.Tool)
{
    int numOfCertifiedOps = tool.Certification.OperatorCertifications.AsQueryable().Select(opCert => opCert.Oper).Count();

    @if (numOfCertifiedOps >= tool.Certification.TargetTrained)
    {
        <div class="row">
            @Html.ActionLink(tool.Name, "Details", "Tool", new { id = tool.ToolId }, new { @class = "btn btn-success custom" })
        </div>
    }
    else
    {
        <div class="row">
            @Html.ActionLink(tool.Name, "Details", "Tool", new { id = tool.ToolId }, new { @class = "btn btn-danger custom" })
        </div>
    }
}



