@model TrainingHelper.ViewModels.BayIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Here is a list of all Bays in the Fab.</h4>
<hr />

@foreach (var bay in Model.Bay)
{
    bool enough = true;
    foreach (var tool in bay.Tool)
    {
        int numOfCertifiedOps = tool.Certification.OperatorCertifications.AsQueryable().Select(opCert => opCert.Oper).Count();

        if (numOfCertifiedOps >= tool.Certification.TargetTrained)
        {
            enough = true;
        }
        else
        {
            enough = false;
            break;
        }
    }

    if (enough == true)
    {
        <div class="row">
            @Html.ActionLink(bay.Name, "Details", "Bay", new { id = bay.BayId }, new { @class = "btn btn-success custom" })
        </div>
    }
    else
    {
        <div class="row">
            @Html.ActionLink(bay.Name, "Details", "Bay", new { id = bay.BayId }, new { @class = "btn btn-danger custom" })
        </div>
    }
}
