body {
    background-color:cadetblue;
}

li {
list-style: none;
}
/*
.panel-heading.custom {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 120px;
}

.panel.custom {
    display: inline-block;
    margin-bottom: 10px;
    min-width: 120px;
}

.panel-success.custom {
    border: 2px solid #3c763d;
}

.panel-info.custom {
    border: 2px solid #31708f;
}
.row {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid black;
}
.flex {
  flex: 1;
}

*/
.btn.custom {
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    border: 1px solid #3c763d;
}


.btn-info.custom {
    border: 1px solid #31708f;
}

.mine {
    display: block;
}

.bay-btn{
    margin: 5px;
    display: block;
}
.panel-custom {
    padding: 0px;
}
.fill {
    display: table
}

.panel-body-custom {
    padding: 0px;
    height: 175px;
}
a:hover {
	color: #FFF;
	background: none;
	text-decoration: none;
}