@model TrainingHelper.Models.Area

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create a new Area</h4>
<hr />
<br />
<form method="post" asp-action="Create" asp-controller="Area">
    @Html.HiddenFor(model => model.AreaId)

    @Html.LabelFor(model => model.Name, "Area Name:")
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    <input type="submit" value="Save" />
</form>
<br />




