@model TrainingHelper.ViewModels.AreaDetailVM
@using TrainingHelper.ViewModels

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Here are the Bays in the @Model.Area.Name Area.</h3>



<ul>
    @foreach (var x in Model.Bay)
    {
        <div class="row">
            @Html.ActionLink(x.Name, "Details", "Bay", new { id = x.BayId }, new { @class = "btn btn-success custom" })
        </div>
    }
</ul>

