@model IEnumerable<TrainingHelper.Models.Bay>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Here are the Bays in the ... Area.</h3>

<ul>
    @foreach (var listItem in Model)
    {
        <li>@Html.DisplayFor(modelItem => listItem.Name)</li>
        //<li>@Html.ActionLink(listItem.Name, "Details", "Experience", new { id = listItem.LocationId })</li>
    }
</ul>