@model IEnumerable<TrainingHelper.Models.Bay>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Here are the Bays in the ... Area.</h3>

<ul>
    @foreach (var x in Model)
    {
        <div class="row">
            @Html.ActionLink(x.Name, "Details", "Area", new { id = x.AreaId }, new { @class = "btn btn-success custom" })
        </div> 
    }
</ul>

