@model IEnumerable<TrainingHelper.Models.Area>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Here is a list of all Areas in the Fab.</h4>
<hr />

@foreach (var x in Model)
{
    <div class="row">
        @Html.ActionLink(x.Name, "Details", "Area", new { id = x.AreaId }, new { @class = "btn btn-success custom" })
    </div>
}



