@model IEnumerable<TrainingHelper.Models.Area>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Here's the list of all Areas in the Fab. Choose one to Edit or Delete.</h4>
<hr />

<div class="row">
    <ul>
        @foreach (var x in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => x.Name) |
                @Html.ActionLink("Edit", "Edit", new { id = x.AreaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = x.AreaId })
            </li>
        }
    </ul>
</div>